
@{
    ViewBag.Title = "Bolsa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">



        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!--Detalle Reserva-->
                        <div class="col-sm-9">
                            
                            <div class="me-2">
                                
                                <div class="d-flex justify-content-between">
                                    <h5 class="ms-2 mt-2">Detalle Bolsa de viaje.</h5>
                                    <a class="btn btn-primary" href="@Url.Action("Index","Tienda")"><i class="fas fa-cart-plus"></i> Seguir solicitando + </a>

                                </div>
                                <hr class="mt-2 mb-2">

                                <div id="reservas-bolsa">

                                    <div class="card mb-2 card-reserva">
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-sm-2 align-slef-center d-flex justify-content-center">
                                                    <img class="rounded" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" style="width:100px;height:100px" />
                                                </div>
                                                <div class="col-sm-4 align-self-center">
                                                    <span class="font-wight-bold d-block">Paquete Turístico</span>
                                                    <span>Nombre de Paquete Turístico</span>
                                                </div>
                                                <div class="col-sm-2 align-self-center">
                                                    <span>Precio: S/. 200</span>
                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <div class="d-flex">
                                                        

                                                        <button class="btn btn-outline-secondary btn-restar rounder-0">
                                                            <i class="fas fa-minus-circle"></i>
                                                        </button>
                                                        <input class="form-control input-cantidad p-1 text-center rounded-0" disabled style="width:40px" />
                                                        <button class="btn btn-outline-secondary btn-sumar rounder-0">
                                                            <i class="fas fa-plus-circle"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 align-self-center">

                                                    <button class="btn btn-outline-danger btn-eliminar"><i class="fas fa-trash-alt"></i> ELIMINAR </button>

                                                </div>

                                           
                                              
                                            </div>
                                         
                                         
                                        </div>

                                    </div>

                                </div>

                                <div class="d-flex justify-content-end">
                                    <label class="align-self-center"><b>Total: S/. <span id="total">0</span></b></label>
                                    
                                </div>
                                

                            </div>

                        </div>
                        <!--Detalle Fecha Tour Reserva - Contacto-->
                        <div class="col-sm-3">
                            <div class="card">
                        <div class="card-body bg-light">
                            <h5 class="card-title text-center"> DETALLE RESERVA TOUR</h5>
                            <form>
                                <div class="mb-2">
                                    <label for="cbotour" class="form-label"> FECHA TOUR: </label>
                                    <select class="form-select form-select-sm" id="cbotour"> </select>

                                </div>
                                <div class="mb-2">
                                    <label for="cbodepartamento" class="form-label"> DEPARTAMENTO: </label>
                                    <select class="form-select form-select-sm" id="cbodepartamento"> </select>

                                </div>
                                <div class="mb-2">
                                    <label for="cboprovincia" class="form-label"> PROVINCIA: </label>
                                    <select class="form-select form-select-sm" id="cboprovincia"> </select>
                                </div>
                                <div class="mb-2">
                                    <label for="cbodistrito" class="form-label"> DISTRITO: </label>
                                    <select class="form-select form-select-sm" id="cbodistrito"> </select>
                                </div>
                                <div class="mb-2">
                                    <label for="txtnombrecontacto" class="form-label"> CONTACTO: </label>
                                    <input type="text" class="form-control form-control-sm" id="txtnombrecontacto" autocomplete="off">
                                </div>
                                <div class="mb-2">
                                    <label for="txtdireccion" class="form-label"> DIRECCIÓN: </label>
                                    <input type="text" class="form-control form-control-sm" id="txtdireccion" autocomplete="off">
                                </div>
                                <div class="mb-2">
                                    <label for="txttelefono" class="form-label"> TELÉFONO: </label>
                                    <input type="text" class="form-control form-control-sm" id="txttelefono" autocomplete="off">
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-success" type="button" onclick="RealizarPago()">
                                        <i class="fab fa-paypal"></i> Procesar Cancelación de Reserva
                                    </button>
                                </div>
                            </form>

                             </div>
                         </div>
                     </div>

                  </div>

                </div>
            </div>
        </div>


    </div>
</div>
@section scripts{
    
    <script>
        $(document).ready(function () {
            jQuery.ajax({
                url: '@Url.Action("ListarReservasBolsa", "Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    $("#reservas-bolsa").html("");
                    $("#reservas-bolsa").LoadingOverlay("hide");

                    $.each(response.data, function (i, item) {

                        $("<div>").addClass("card mb-2 card-reserva").append(

                            $("<div>").addClass("card-body").append(
                                $("<div>").addClass("row").append(

                                    //Parte 1
                                    $("<div>").addClass("col-sm-2 align-self-center d-flex justify-content-center").append(
                                        $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.oReserva.Extension + ";base64," + item.oReserva.Base64 })
                                            .css({ "width": "100px", "height": "100px" })
                                    ),
                                    //Parte 2
                                    $("<div>").addClass("col-sm-2 align-self-center ").append(
                                        $("<span>").addClass("font-wight-bold d-block").text(item.oReserva.oPaquete.Descripcion),
                                        $("<span>").text(item.oReserva.Nombre)
                                    ),
                                    //Parte 3
                                    $("<div>").addClass("col-sm-2 align-self-center ").append(
                                        $("<span>").text(item.oReserva.Precio.toFixed(2) + "PEN")
                                    ),
                                    //Parte 4
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<div>").addClass("d-flex").append(
                                            $("<button>").addClass("btn btn-outline-secondary btn-restar rounded-0").append($("<i>").addClass("fas fa-minus-circle")),
                                            $("<input>").addClass("form-control input-cantidad p-1 text-center rounded-0").attr({ "disabled": "disabled" })
                                                .css({ "width": "40px" })
                                                .data("oReserva", item.oReserva)
                                                .val(item.Cantidad),
                                            $("<button>").addClass("btn btn-outline-secondary btn-sumar rounded-0").append($("<i>").addClass("fas fa-plus-circle")),

                                        )
                                    ),
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<button>").addClass("btn btn-outline-danger btn-eliminar").append($("<i>").addClass("fas fa-trash-alt"), "ELIMINAR")
                                            .data("idreserva",item.oReserva.IdReserva),
                                    )

                                )

                            )
                        ).appendTo("#reservas-bolsa")



                    })
                    Calculototal();
                },
                error: function (error) {
                    $("#reservas-bolsa").LoadingOverlay("hide");
                },
                beforeSend: function () {
                    $("#reservas-bolsa").LoadingOverlay("show");
                }
            })

            ListarFechasTour(),
            ListarDepartamento()
        })


         function ListarFechasTour() {


            $("<option>").attr({ "value": "0","disabled":"disabled", "selected":"true" }).text("SELECCIONAR").appendTo("#cbotour")


            jQuery.ajax({
                url: '@Url.Action("ObtenerFechasTour","Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.lista != null) {

                        $.each(data.lista, function (i, item){
                            $("<option>").attr({"value":item.IdTour}).text(item.FechaTour).appendTo("#cbotour")
                        })

                    }
                }
            })

        }


        function ListarDepartamento() {


            $("<option>").attr({ "value": "00","disabled":"disabled", "selected":"true" }).text("SELECCIONAR").appendTo("#cbodepartamento")


            jQuery.ajax({
                url: '@Url.Action("ObtenerDepartamento","Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.lista != null) {

                        $.each(data.lista, function (i, item){
                            $("<option>").attr({"value":item.IdDepartamento}).text(item.Descripcion).appendTo("#cbodepartamento")
                        })
                        ListarProvincia();
                    }
                }
            })

        }

        $("#cbodepartamento").on("change", function () {
            ListarProvincia();
        })

        function ListarProvincia() {

            $("#cboprovincia").html("")
            $("<option>").attr({ "value": "00","disabled":"disabled", "selected":"true" }).text("SELECCIONAR").appendTo("#cboprovincia")


            jQuery.ajax({
                url: '@Url.Action("ObtenerProvincia","Tienda")',
                type: "POST",
                data: JSON.stringify({IdDepartamento:$("#cbodepartamento option:selected").val()}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.lista != null) {

                        $.each(data.lista, function (i, item) {

                            $("<option>").attr({ "value": item.IdProvincia }).text(item.Descripcion).appendTo("#cboprovincia")
                        })
                        ListarDistrito();
                    }
                }
            })

        }

        $("#cboprovincia").on("change", function () {
            ListarDistrito();
        })


        function ListarDistrito() {

            $("#cbodistrito").html("")
            $("<option>").attr({ "value": "00","disabled":"disabled", "selected":"true" }).text("SELECCIONAR").appendTo("#cbodistrito")


            jQuery.ajax({
                url: '@Url.Action("ObtenerDistrito","Tienda")',
                type: "POST",
                data: JSON.stringify({ IdDepartamento: $("#cbodepartamento option:selected").val(), IdProvincia: $("#cboprovincia option:selected").val() }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.lista != null) {

                        $.each(data.lista, function (i, item) {

                            $("<option>").attr({ "value": item.IdDistrito }).text(item.Descripcion).appendTo("#cbodistrito")
                        })

                    }
                }
            })

        }
        function Calculototal() {
            var sumatotal = parseFloat(0)

            $("input.input-cantidad").each(function (i) {

                var precio = $(this).data("oReserva").Precio;
                var cantidad = parseFloat($(this).val())

                var subtotal = precio * cantidad;

                sumatotal += subtotal;

            })

                $("#total").text(sumatotal.toFixed(2))
                $("#total").data("sumatotal",sumatotal)
        }


        $(document).on("click", ".btn-sumar", function () {
            var div_contenedor = $(this).parent("div.d-flex");

            var input_cantidad = $(div_contenedor).find("input.input-cantidad");

            var btn = $(this)

            var idreserva = $(input_cantidad).data("oReserva").IdReserva;



            jQuery.ajax({

                url: '@Url.Action("Operacionsolicitud", "Tienda")',
                type: "POST",
                //Parámetros que se le entregan --- > las ID
                data: JSON.stringify({ idreserva: idreserva, sumar: true }),
                dataType: "json",
                contentType: "application/json, charset=utf-8",
                success: function (data) {

                    //Imagen de carga se oculte  del botón
                    $(btn).LoadingOverlay("hide")

                    if (data.respuesta) {
                        var cantidad = parseInt($(input_cantidad).val()) + 1;
                        $(input_cantidad).val(cantidad)
                        Calculototal()
                    } else {
                        swal("",data.mensaje,"warning")
                    }


                },
                beforeSend: function () {
                   //Imagen de carga se muestre sobre el botón
                    $(btn).LoadingOverlay("show")

                },
                error: function (error) {
                    $(btn).LoadingOverlay("hide")
                }
            })
        })



         $(document).on("click", ".btn-restar", function () {
            var div_contenedor = $(this).parent("div.d-flex");

            var input_cantidad = $(div_contenedor).find("input.input-cantidad");

            var btn = $(this)

             var idreserva = $(input_cantidad).data("oReserva").IdReserva;

             var cantidad = parseInt($(input_cantidad).val()) - 1;

             if (cantidad >= 1) {

                 jQuery.ajax({

                url: '@Url.Action("Operacionsolicitud", "Tienda")',
                type: "POST",
                //Parámetros que se le entregan --- > las ID
                data: JSON.stringify({ idreserva: idreserva, sumar: true }),
                dataType: "json",
                contentType: "application/json, charset=utf-8",
                 success: function (data) {

                    //Imagen de carga se oculte  del botón
                    $(btn).LoadingOverlay("hide")

                    if (data.respuesta) {

                        $(input_cantidad).val(cantidad)
                        Calculototal()
                    } else
                    {
                        swal("",data.mensaje,"warning")
                    }


                },
                  beforeSend: function () {
                   //Imagen de carga se muestre sobre el botón
                    $(btn).LoadingOverlay("show")


                     },
                     error: function (error)

                     {
                    $(btn).LoadingOverlay("hide")

                     }

                 })

             }



         })




         $(document).on("click", ".btn-eliminar", function () {
           

             var idreserva = $(this).data("idreserva");

             //Obtener todas las etiquetas dentro del card_reserva (parents)//
             var card_reserva = $(this).parents("div.card-reserva");

     

           jQuery.ajax({

                url: '@Url.Action("Eliminarviaje", "Tienda")',
                type: "POST",
                //Parámetros que se le entregan --- > las ID
                data: JSON.stringify({ idreserva: idreserva }),
                dataType: "json",
                contentType: "application/json, charset=utf-8",
                success: function (data) {


                    if (data.respuesta) {

                        card_reserva.remove();

                        MostrarCantidadBolsa();

                        Calculototal();

                    } else {
                        swal("",data.mensaje,"warning")
                    }


                }
           
            })
        
        })
    </script>
    
    
    }